<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Demo blog | admin | create post</title>
    </head>
    <body>
        {% include("header.html.twig") %}
        {{ form(form) }}
    </body>
</html>
